<tr>
	<td width="60%" align="center">Content to be added here...</td>
	<td align="right">
<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 4,
  interval: 30000,
  width: 250,
  height: 300,
  theme: {
    shell: {
      background: '#333333',
      color: '#ffffff'
    },
    tweets: {
      background: '#000000',
      color: '#ffffff',
      links: '#4aed05'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: false,
    behavior: 'all'
  }
}).render().setUser('NotifyNYC').start();
</script></td></tr>
<table border="0" width="100%">
	<tr>
		<td align="center"><%= link_to "REGISTER", "/register" %>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "DEREGISTER", "/auth/twitter" %></td>
		<td align="center"></td>
		<!--<td align="center"><%= link_to "REGISTER", "/auth/twitter" %></td>
		<td align="center"><%= link_to "DEREGISTER", "/auth/facebook" %></td>-->
	</tr>
</table>
