<div class="control-group">
			<textarea class="span12" readonly="true" >
				<%= render '/layouts/terms' %>
			</textarea>
</div>

		<!--<td align="center"><%= link_to "REGISTER", "/auth/twitter" %></td>-->
<div class="actions">
		<form action="/auth/twitter"><input type="submit" value="I Agree" class="btn btn-primary "/></form> 
		<form action="/"><input type="submit" value="I Disagree" class="btn" /></form></td>
</div>