<form action="/auth/twitter">
	<div class="control-group">
			<textarea class="span12" readonly="true" rows="20" >
				<%= render '/layouts/terms' %>
			</textarea>
	</div>

		<!--<td align="center"><%= link_to "REGISTER", "/auth/twitter" %></td>-->
	<div class="actions">
			<input type="submit" value="I Agree" class="btn btn-primary btn-large"/> 
			<a href="/" class="btn btn-large" />I Disagree</a>
	</div>
</form>