<footer>
<div id="nyc-gov-footer">
	<span class="footer_copyright">Copyright 2012 The City of New York</span>
    <span class="footer_links"><a class="footer_links" href="http://www.nyc.gov/contact">Contact Us</a> | <a class="footer_links" href="http://www.nyc.gov/faqs">FAQs</a> | <a class="footer_links" href="http://www.nyc.gov/privacy">Privacy Statement</a> | <a class="footer_links" href="http://www.nyc.gov/sitemap">Site Map</a></span>
</div>
</footer>