<footer>
<div id="nyc-gov-footer" class="row">
	<div class="footer_copyright span6">Copyright 2012 The City of New York</div>
    <div class="footer_links span6"><a class="footer_links" href="http://www.nyc.gov/contact">Contact Us</a> | <a class="footer_links" href="http://www.nyc.gov/faqs">FAQs</a> | <a class="footer_links" href="http://www.nyc.gov/privacy">Privacy Statement</a> | <a class="footer_links" href="http://www.nyc.gov/sitemap">Site Map</a></div>
</div>
</footer>